
@section SPAViews {

    <div ng-show="moduloAct == 'Bancos'">
        @Html.Partial("_Home")
    </div>
    <div ng-show="moduloAct == 'Cuentas'">
        @Html.Partial("_Cuentas")
    </div>
    <div ng-show="moduloAct == 'Clientes'">
        @Html.Partial("_Clientes")
    </div>
    <div ng-show="moduloAct == 'Ventas'" ng-controller="VentasController">
        @Html.Partial("_Ventas")
    </div>
<div ng-show="moduloAct == 'Reportes'">
    @Html.Partial("_Reportes")
</div>
}
@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")

    <script src="~/Scripts/app/angular/controllers/BancosController.js?V1.0"></script>
    <script src="~/Scripts/app/angular/controllers/CuentasController.js?V1.0"></script>
    <script src="~/Scripts/app/angular/controllers/ClientesController.js?V1.0"></script>
    <script src="~/Scripts/app/angular/controllers/VentasController.js?V1.3"></script>
}